{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/background/clothesbg3.jpg' %}" class="d-block w-100" alt="website image"> 
    </div>
  </div>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<div class="container">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>Welcome to Threads Nepal</h1>
    <h3>Buy and Sell your Clothes</h3>
  </div>
</div> 
<br>
{% endblock livesale %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <h2>Clothes</h2>
 <!-- Slider 1 for showing clothes -->
 <div class="owl-carousel" id="slider1">
  {% for n in name  %}
  <a href="{% url 'product-detail' n.id %}" class="btn"><div class="item"><img src="{{n.photo.url}}" alt="" height="200px"><span class="fw-bold">{{n.name}}</span><br><span class="fs-5">{{n.price}}</span></div></a>
  {% endfor %}
 </div>
</div>
<!-- End 1st Product Slider -->
<br>
<div>
  <p style="font-size:30px; text-align:center;"><b>Browse by categories</b><p>
</div>
<br>
<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2>Male Clothes</h2>
 <!-- Slider 2 for showing male wears -->
 <div class="owl-carousel" id="slider2">
  {% for mw in malewear  %}
  <a href="{% url 'product-detail' mw.id %}" class="btn"><div class="item"><img src="{{mw.photo.url}}" alt="" height="200px"><span class="fw-bold">{{mw.name}}</span><br><span class="fs-5">{{mw.price}}</span></div></a>
  {% endfor %}
 </div>
 <br>
</div>
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<div class="mx-3">
  <h2>Female Clothes</h2>
  <!-- Slider 3 for showing male wears -->
  <div class="owl-carousel" id="slider2">
   {% for fw in femalewear  %}
   <a href="{% url 'product-detail' fw.id %}" class="btn"><div class="item"><img src="{{fw.photo.url}}" alt="" height="200px"><span class="fw-bold">{{fw.name}}</span><br><span class="fs-5">{{fw.price}}</span></div></a>
   {% endfor %}
  </div>
 </div>
 <!-- End 3rd Product Slider -->
 {% endblock main-content %}


