{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.photo.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.name}}</h2>
   <hr>
   <p>Description: {{product.description}}</p>
   <p>Brand: {{product.brand}}</p>
   <p>Size: {{product.size}}</p>
   <p>Clothes Type: {{product.clothes_type}}</p>
   <p>Posted by: {{product.posted_by}}</p>
   <p>Phone No: {{product.contact_number}}</p>
   <h4>Price: {{product.price}}</h4> <br>
   
   {% if user.id == product.posted_by.id %}
      <button class="btn btn-primary"><a href="{% url 'edit-post' product.pk %}" class="text-white" style="text-decoration: none;">Edit</a></button>
      <button class="btn btn-primary bg-danger"><a href="{% url 'delete-post' product.pk %}" class="text-white" style="text-decoration: none;">Delete</a></button>
   {% endif %}

  </div>
 </div>
 <br>
 <br>
 <div>
    <h5>Related Product</h5>
 </div>
 <div class="owl-carousel" id="slider1">
    {% for n in name  %}
    <a href="{% url 'product-detail' n.id %}" class="btn"><div class="item"><img src="{{n.photo.url}}" alt="" height="200px"><span class="fw-bold">{{n.name}}</span><br><span class="fs-5">{{n.price}}</span></div></a>
    {% endfor %}
</div>
</div>
{% endblock main-content %}